# In environments/#{RAILS_ENV}.rb

config.action_mailer.delivery_method = :smtp
config.action_mailer.smtp_settings = {
	:address => 'smtp.gmail.com',
	:port => 587,
	:authentication => :login,
	:user_name => 'xxxxxx@gmail.com',
	:password => '******'
}
